<tr>
    <td>
        <span data-action="click->action#click">
            <%= check_box_tag "[ids][#{script.id}]", 'yes', false, data: {"target": "action.source"}, class: 'btn' %>
        </span>
    </td>
    <td><h4><%= script.name %></h4></td>
    <td><%= script.description %></td>
    <td class="text-center">
        <% if script.passed %>
            <%= fa_icon 'check-circle 2x', class: 'text-success' %>
        <% else %>
            <%= fa_icon 'times-circle 2x', class: 'text-danger' %>
        <% end %>
    </td>
    <td><%= time_ago_in_words script.passed_at %></td>
    <td><%= link_to image_tag(script.screenshot, width: 100, class: 'img-thumbnail'), script %></td>
    <td>
        <%= link_to script_play_path(script), class: 'btn btn-outline-success btn-sm' do %>
        <%= fa_icon 'play-circle', text: ' Play' %>
        <% end %>
    </td>
    <td><%= link_to 'Show', script, class: 'btn btn-outline-secondary btn-sm' %></td>
    <td><%= link_to 'Edit', edit_script_path(script), class: 'btn btn-outline-secondary btn-sm' %></td>
    <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm' %></td>
</tr>