<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <%= link_to new_script_path, class: 'btn btn-link float-right' do %>
    <%= fa_icon 'plus-circle', text: ' New Script' %>
  <% end %>
  <h2><%= fa_icon 'robot' %> Scripts</h2>
</div>

<div class='container-fluid'>
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">

        <div class="col-sm-3">
          <%= label_tag :name, "Name" %>    
          <%= text_field_tag :name, params[:name], include_blank: true, onchange:'this.form.submit()', class: 'form-control form-control-sm' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :passed, "Passed" %>
          <div class="input-group">
            <%= select_tag :passed, 
                                options_for_select([true, false], params[:passed]), 
                                include_blank: true,
                                class: 'form-control form-control-sm', 
                                onchange: 'this.form.submit()' %>
  
            <span class="input-group-btn">
              <%= submit_tag 'Search', class: 'btn btn-sm btn-outline-success' %>
            </span>
          </div>
        </div>
        
      </div>
    </div>  
  <% end %>
  <br>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Passed</th>
      <th>When</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @scripts %>
  </tbody>
</table>

<div class="page_info">
  <%= page_entries_info @scripts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= will_paginate @scripts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>


