<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Scripts</h1>

<table class="table table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Passed?</th>
      <th>Last run at</th>
      <th></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scripts.each do |script| %>
      <tr>
        <td><b><%= script.name %></b></td>
        <td><%= script.description %></td>
        <td><%= script.passed.to_s.humanize %></td>
        <td><%= script.passed_at %></td>
        <td></td>
        <td><%= link_to 'Show', script, class: 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Run', script_run_path(script), class: 'btn btn-outline-success btn-sm' %></td>
        <td><%= link_to 'Edit', edit_script_path(script), class: 'btn btn-outline-secondary btn-sm' %></td>
        <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Script', new_script_path, class: 'btn btn-link' %>
