<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h3>
  <%= @script.name %>
  <br>
  <small><i><%= @script.description %></i></small>
</h3>

<p>
  <pre><%= @script.body %></pre>
</p>

<p>
  <strong>Passed?:</strong>
  <%= @script.passed.to_s.humanize %>
</p>

<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>

<br>
<p>
  <%= image_tag '/screenshot.png', width: 800, class: 'img-thumbnail' %>
</p>

