<!DOCTYPE html>
<html>
  <head>
    <title>TestsMonkey</title>
    <%= favicon_link_tag 'robot-solid.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <div class="alert alert-highlight text-center" style="height: 35px;">
      <% if notice.present? or alert.present? %>
        <aside class="text-<%= notice ? 'success' : 'danger' %>">
          <%= notice ? notice : alert %>
        </aside>
      <% end %>
    </div>
    
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
